.tabs-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  background-color: black;

  border: 1px solid #ffd700;
  border-radius: 10px;
}

.tab-trigger {
  color: #686700;
  font-size: 18px;
  font-weight: bold;

  text-align: center;
  border-radius: 8px;
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
}

.tab-trigger:hover {
  background-color: #584b03;
  color: black;
}

.tab-trigger {
  display: flex;
  align-items: center; /* Alinea el ícono y el texto verticalmente */
  gap: 8px; /* Espacio entre el ícono y el texto */
  font-size: 1rem;

  cursor: pointer;
  transition: all 0.3s ease;
}

.tab-trigger .icon {
  font-size: 1.2rem; /* Tamaño del ícono */
  color: #c5b358; /* Color dorado para los íconos */
}

.tab-trigger:hover {
  background-color: rgba(
    197,
    179,
    88,
    0.1
  ); /* Fondo dorado suave al hacer hover */
}

.tab-trigger:hover .icon {
  color: #ffffff; /* Cambia el color del ícono al hacer hover */
}
